---
layout: layouts/base.njk
title: Daniel Gális
---

<p>Hi! I'm Daniel. On the internet I go by @danielmstc or @mstcgalis.</p>

<p>I'm trying to make tools that emancipate individuals and communities. I love researching and designing interfaces, experiences and digital products. Writing coding when needed.</p>

<p>Doing the life thing by building good habits and working towards a better tomorrow.</p>

<h2>Contact</h2>
  <a href="mailto:danielgalis21@gmail.com">E-mail,</a>
  <a href="https://are.na/daniel-galis">Are.na,</a>
  <span>Discord: danielmstc#2967</span>
</p>

  <h2>Writing</h2>

  <ul class="posts">
      {% for post in collections.post | reverse %}
        {% if post.data.published %}
          <li>
            <a href="{{post.url}}">
              {{post.data.title}}
              <div class="tags">
                  {% for tag in post.data.categories %}
                    {% if loop.last %}
                      <!-- TODO:<a href="/tags/{{tag}}">#{{tag}}</a> -->
                      #{{tag}}
                    {% else %}
                      #{{tag}},
                    {% endif %}
                  {% endfor %}
              </div>
            </a>
          </li>
          {% endif %}
        {% endfor %}
    </ul>